.textWrap {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis !important;
  border: 1px solid #000000;
}

.leftDiv {
  float: left;
}

.rightDIv {
  float: right;
}

.imgSrc {
  height: 10px;
  width: 10px;
}

.redText {
  color: red;
}

.card-body {
  width: 350px;
  border: 1px solid #cccccc;
}

.table-body {
}
